.Button {
  background-color: var(--bgcolor-secondary);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  color: var(--color-light);
  font-size: var(--font-size-medium);
  font-family: var(--font-lucida-sans);
}
