.Button {
  background-color: var(--bg-color-button);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;

  color: var(--text-color-button);
  font-size: var(--font-size-medium);
  font-family: var(--font-lucida-sans);
}
