@use '../../styles/scss/' as *;

.DarkButton {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-width: 2rem;
  border: none;
  border-radius: 100vmax;
  padding: 0.5rem 0.65rem;
  position: absolute;
  top: 3.25rem;
  right: 0.5rem;

  @include media-query(small) {
    top: 0.5rem;
  }
}
