@use '../../styles/scss/' as *;

.Layout {
  @extend %dark-mode-transition;
  @include fade(in);

  background-color: var(--bg-color);
  height: 100vh;

  display: grid;
  grid-template-rows: var(--nav-min-height) 1fr var(--nav-min-height);

  color: var(--text-color-page);
  font-family: var(--font-family-primary);

  main {
    padding-inline: 1.5rem;

    &:has([data-testid='home']) {
      display: grid;
      align-items: center;
    }
  }

  @include media-query(small) {
    grid-template-rows: none;
    grid-template-columns: auto 1fr;
    align-items: stretch;

    main {
      padding-block: 1rem;
    }
  }
}

.DarkMode {
  @extend %dark-mode-colors;
  @extend %dark-mode-transition;

  @media (prefers-color-scheme: dark) {
    --bg-color: var(--color-light-white);
    --bg-color-button: var(--color-dark-purple);
    --bg-color-nav: var(--color-dark-purple);
    --bg-color-page: var(--color-light-gray);

    --text-color-button: var(--color-light-white);
    --text-color-hello: var(--color-light-white);
    --text-color-landing: var(--color-dark-purple);
    --text-color-nav: var(--color-light-blue);
    --text-color-page: var(--color-dark-black);
  }
}
