@use '../../styles/scss/' as *;

.Layout {
  background-color: var(--color-light);
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;

  @extend %dark-mode-transition;

  main {
    padding: 2rem;
  }

  @include media-query(small) {
    grid-template-rows: none;
    grid-template-columns: auto 1fr;
    align-items: stretch;

    main {
      display: grid;
      align-items: center;
    }
  }

  @include fade(in);
}

.DarkMode {
  --color-light: hsl(300, 100%, 15%);
  --color-dark: hsl(195, 53%, 79%);
  --color-accent: hsl(0, 0%, 20%);
  --color-medium: var(--color-dark);

  @extend %dark-mode-transition;

  @media (prefers-color-scheme: dark) {
    --color-light: hsl(0, 0%, 95%);
    --color-dark: hsl(300, 100%, 15%);
    --color-accent: hsl(195, 53%, 79%);
    --color-medium: hsla(39, 58%, 57%, 0.5);
  }
}
