@use '../../styles/scss/' as *;

.Layout {
  background-color: var(--color-light);
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;

  button {
    position: absolute;
    top: 3rem;
    right: 1%;
  }

  main {
    padding: 2rem;
  }

  @include media-query(small) {
    grid-template-rows: none;
    grid-template-columns: auto 1fr;
    align-items: stretch;

    main {
      display: grid;
      align-items: center;
    }
  }

  @include fade(in);
}

.DarkMode {
  --color-light: black;
  --color-dark: yellow;
  --color-accent: pink;
}
