@use '../../styles/scss/' as *;

.Nav {
  color: var(--text-color-nav);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-nav);
  line-height: var(--line-height-nav);
  text-align: center;

  @extend %dark-mode-transition;

  nav {
    background-color: var(--bg-color-nav);
    min-height: var(--nav-min-height);

    display: flex;
    align-items: center;

    @extend %dark-mode-transition;
  }

  @include media-query(small) {
    background-color: var(--bg-color-nav);
    padding-block: 1rem;
    padding-inline: 0.75rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
