.PortfolioNav {
  background-color: var(--color-dark);
  text-align: center;

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    li {
      color: var(--color-accent);
      font-family: var(--font-family-primary);
      font-size: var(--font-size-nav);
      line-height: var(--line-height-nav);
    }
  }
}
