@use '../../styles/scss/' as *;

.PortfolioNav {
  width: 100%;

  ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  @include motion-allowed() {
    ul {
      animation: slidePortfolioNav 1000ms ease forwards;
    }

    @keyframes slidePortfolioNav {
      0% {
        transform: translateY(-125%);
      }

      100% {
        transform: translateY(0%);
      }
    }
  }

  @include media-query(small) {
    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    @include motion-allowed() {
      ul {
        li {
          @include hover-transform;
        }
      }

      @keyframes slidePortfolioNav {
        0% {
          transform: translateX(-125%);
        }

        100% {
          transform: translateX(0%);
        }
      }
    }
  }
}
