@use '../../styles/scss/' as *;

.SocialNav {
  width: 100%;

  position: absolute;
  bottom: 0;

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 85%;
    margin-inline: auto;
  }

  @include motion-allowed() {
    ul {
      animation: slideUp 1000ms ease forwards;
    }

    @keyframes slideUp {
      0% {
        transform: translateY(125%);
      }

      100% {
        transform: translateY(0%);
      }
    }
  }
}
