@use '../../styles/scss/' as *;

.SocialNav {
  width: 100%;

  position: absolute;
  bottom: 0;

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 85%;
    margin-inline: auto;
  }

  @include motion-allowed() {
    ul {
      animation: slideSocialNav 1000ms ease forwards;
    }

    @keyframes slideSocialNav {
      0% {
        transform: translateY(125%);
      }

      100% {
        transform: translateY(0%);
      }
    }
  }

  @include media-query(small) {
    position: relative;

    ul {
      display: flex;
      flex-direction: column;
    }

    ul > li {
      &::before {
        display: flex;
        flex-direction: column;

        margin-top: 0.5rem;

        font-size: 1rem;
        line-height: 1.25rem;
      }
    }

    ul > li:nth-child(1) {
      &::before {
        content: 'GitHub';
      }
    }

    ul > li:nth-child(2) {
      &::before {
        content: 'LinkedIn';
      }
    }

    ul > li:nth-child(3) {
      &::before {
        content: 'Twitter';
      }
    }

    ul > li:nth-child(4) {
      &::before {
        content: 'Instagram';
      }
    }

    @include motion-allowed() {
      ul > li {
        transition: margin-top 1000ms ease, transform 1000ms ease;

        &::before {
          margin-top: 0;
          font-size: 0.95rem;
          line-height: 1rem;
          opacity: 0%;
          transition: opacity 1000ms ease;
        }
      }

      ul > li:hover {
        transform: scale(1.15);
        margin-top: 0.75rem;

        &::before {
          opacity: 1;
        }
      }

      @keyframes slideSocialNav {
        0% {
          transform: translateX(-125%);
        }

        100% {
          transform: translateX(0%);
        }
      }
    }
  }
}
