@use 'sass:map';

$breakpoints: (
  x-large: 90em,
  // 1440px,
  large: 70em,
  // 1120px
  medium: 50em,
  // 800px
  small: 35em // 560px
);

@mixin media-query($key) {
  $size: map.get($breakpoints, $key);

  @media (min-width: $size) {
    @content;
  }
}
