@use '../../styles/scss/' as *;

.ProjectsList {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  // background-color: red;

  @include media-query(medium) {
    // max-width: max(40rem, 40%);
    margin-inline: auto;
    // flex-direction: row;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
  }
}
