* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bgcolor-primary: hsl(0, 0%, 95%);
  --bgcolor-secondary: hsl(300, 100%, 15%);
  --color-light: var(--bgcolor-primary);
  --color-dark: var(--bgcolor-secondary);
  --font-size-medium: 1rem;
  --font-size-large: 1.75rem;
  --font-size-xlarge: 2.5rem;
  --font-lucida-sans: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
