@use '../styles/scss/' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  --color-light-white: hsl(0, 0%, 95%);
  --color-medium-white: hsl(0, 0%, 85%);
  --color-light-blue: hsl(195, 53%, 79%);
  --color-light-gray: hsla(0, 0%, 80%);
  --color-dark-gray: hsla(0, 0%, 20%);
  --color-dark-purple: hsl(300, 100%, 15%);
  --color-darker-purple: hsl(300, 100%, 10%);
  --color-dark-black: hsl(0, 0%, 10%);

  --bg-color: var(--color-light-white);
  --bg-color-button: var(--color-dark-purple);
  --bg-color-nav: var(--color-dark-purple);
  --bg-color-page: var(--color-light-gray);

  --text-color-button: var(--color-light-white);
  --text-color-hello: var(--color-light-white);
  --text-color-landing: var(--color-dark-purple);
  --text-color-nav: var(--color-light-blue);
  --text-color-page: var(--color-dark-black);

  --font-size-medium: 1rem;
  --font-size-nav: 1.25rem;
  --font-size-large: 2.25rem;
  --font-size-xlarge: 3.25rem;
  --font-lucida-sans: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --font-family-primary: 'Salma Pro Medium', sans-serif;
  --font-family-cursive: 'Charlie Zonk', serif;
  --line-height-nav: 1.25rem;
  --nav-min-height: 2.75rem;
}

html,
body {
  /* font-family: var(--font-family-primary); */
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Chancery Cursive';
  src: url('../fonts/chancery-cursive-font/ChanceryCursive-dxD6.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Charlie Zonk';
  src: url('../fonts/Charlie Zonk.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Salma Pro Medium';
  src: url('../fonts/salma-pro-font/SalmaproMedium-0Wooo.otf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Salma Pro Medium Narrow';
  src: url('../fonts/salma-pro-font/SalmaproMediumnarrow-VG5v6.otf');
  font-weight: 600;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  } */

  body {
    --bg-color: var(--color-dark-black);
    --bg-color-button: var(--color-light-white);
    --bg-color-nav: var(--color-darker-purple);

    --bg-color-page: var(--color-dark-gray);

    --text-color-button: var(--color-dark-purple);

    /* unchanged */
    --text-color-hello: var(--color-light-white);

    /* unchanged */
    --text-color-landing: var(--color-dark-purple);

    /* unchanged */
    --text-color-nav: var(--color-light-blue);

    --text-color-page: var(--color-medium-white);
  }
}
